<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <!-- Connect google forms -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/styles/calendar.css">
    <link rel="icon" href="/images/hellyea.png" type="image/png">
</head>

<body id="calendar-body">
    <header>
        <div class="back-button">
            <button onclick="location.href='/'">
                <svg xmlns="http://www.w3.org/2000/svg" class="arrow" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
                home.
            </button>
        </div>
    </header>
    <div class="calendar" id="calendar">
        <div class="calendar_header">
            <div style="display:flex;align-items:center;justify-content:space-between;">
                <button id="prev">‹</button>

                <h2 id="monthYear"></h2>

                <button id="next">›</button>
            </div>
        </div>
        <div class="calendar_grid" id="calendarWeekdays">
        </div>
        <div class="calendar_grid" id="calendarDays"></div>
    </div>
    <div class="events">
        <input type="text" id="inputEvent" placeholder="Add Event">
    </div>
    <script src="/scripts/calendar.js"></script>
</body>

</html>