<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <!-- Connect google forms -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/styles/calendar.css">
</head>

<body id="calendar-body">
    <div class="calendar" id="calendar">
        <div class="calendar_header">
            <div style="display:flex;align-items:center;justify-content:space-between;">
                <button id="prev">‹</button>

                <h2 id="monthYear"></h2>

                <button id="next">›</button>
            </div>
        </div>
        <div class="calendar_grid" id="calendarWeekdays">
        </div>
        <div class="calendar_grid" id="calendarDays"></div>
    </div>
    <div class="events">
        <input type="text" id="inputEvent" placeholder="Add Event">
    </div>
    <script src="/scripts/calendar.js"></script>
</body>

</html>