body {
  margin: 0;
  padding: 0;
  font-family: "Stack Sans Notch", sans-serif;
  color: white;
}

/*home page CSS start*/
#home-body,
.checklist-body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #0f0f0f, #111, #1f1f1f);
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}

.home-content {
  border: solid #999 5px;
  border-radius: 4%;
  width: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: #ccc;
}

.home-content > h1,
.checklist-body > h1 {
  margin-bottom: 0px;
  font-size: 4rem;
  border-bottom: solid red 2px;
  width: fit-content;
}

.home-content > h3 {
  margin-top: 5px;
  padding: 0 0 10px 0;
  font-size: 1.5rem;
}

.home-content > div {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-bottom: 20px;
}

.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px 30px;
  padding: 20px;
  width: 20vh;

  border-radius: 2%;
  transition: color 0.2s;
}

/* subtle smoothing */
.parallax {
  transition: transform 0.08s linear;
  transform-style: preserve-3d;
}

.home-button button,
.home-button h3 {
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  background: none;
  cursor: pointer;
  border: none;
}

.home-icons {
  display: block;
  width: 90px;
  fill: white;
  transition: width 0.3s;
}

.home-button > button:hover {
  h3 {
    color: white;
    filter: drop-shadow(2px 4px 6px white);
  }

  .home-icons {
    fill: white;
    width: 120px;
    filter: drop-shadow(2px 4px 6px white);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 50% 50%;
  }
}

/*Home page CSS end*/

/*checklist css start*/
.checklist-body {
  color: #ccc;
  justify-content: start;
}

.checklist-body > h1 {
  font-size: 3.5rem;
}

.checklist-content > ul {
  list-style: none;
  margin-top: 10vh;
  padding: 0;
  border: solid red ;
  border-width:2px 0;
  width:80vh;
}

.checklist-content > ul > li {
  margin-top: 2%;
  padding: 0.5rem;
  width: 100%;
}
.task {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.task input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* On mouse-over, add a grey background color */
.task:hover {
  color: #777;
  
}

.delete-row{
    position: absolute;
    top:0;
    right:10%;
    width: 25px;
    height: 25px;
    fill:red;
}
.task > button {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 30px;
    cursor:pointer;
    height: 30px;
    right: 10%;
}
.task > button:hover{
  .delete-row{
    fill:white;
  }
}
.strike {
  text-decoration: line-through;
}
/*checklist css end*/
