body {
  margin: 0;
  padding: 0;
  font-family: "Stack Sans Notch", sans-serif;
  background-color: black;
  color: white;
}
input::placeholder {
  font-family: "Stack Sans Notch", sans-serif;
}
/*home page CSS start*/
#home-body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #0f0f0f, #111, #4f1e21);
    animation: gradient 10s alternate ease-in-out infinite;
    background-size: 400% 400%;
}

.home-content {
    border: solid #0f0f0f 5px;
    border-radius: 4%;
    width: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.home-content > h1,
.checklist-body > h1 {
  margin-bottom: 0px;
  font-size: 4rem;
  border-bottom: solid red 2px;
  width: fit-content;
}

.home-content > h3 {
  margin-top: 5px;
  padding: 0 0 10px 0;
  font-size: 1.5rem;
}

.home-content > div {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-bottom: 20px;
}

.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px 30px;
  padding: 20px;
  width: 20vh;

  border-radius: 2%;
  transition: color 0.2s;
}

/* subtle smoothing */
.parallax {
  transition: transform 0.08s linear;
  transform-style: preserve-3d;
}

.home-button button,
.home-button h3 {
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  background: none;
  cursor: pointer;
  border: none;
}

.home-icons {
  display: block;
  width: 90px;
  fill: white;
  transition: width 0.3s;
}

.home-button > button:hover {
  h3 {
    color: white;
    filter: drop-shadow(2px 4px 6px white);
  }

  .home-icons {
    fill: white;
    width: 120px;
    filter: drop-shadow(2px 4px 6px white);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

    50% {
        background-position: 20% 60%;
    }

  100% {
    background-position: 50% 50%;
  }
}

/*Home page CSS end*/